
/* ======================================= 
   Base Styles  
==========================================*/

* {
  box-sizing: border-box;
}

body {
  color:  #676767;
  margin: 0;
  font: 1em/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {  
  font-size: 7vw; /* 5.5rem; */ /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 3px 3px rgba(0,0,0,.8);
  max-width: 60%;
  margin: 0 auto;
  vertical-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

img .circle{
  border-radius: 100%;
}

/* ======================================= 
   Pseudo-classes 
==========================================*/

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}


/* ======================================= 
   Main Styles  
==========================================*/


.main-header {
  background-color: #ffa949;
  padding-top: 5%; /* 170px; */
  height: 0;
  padding-bottom: 40%;
  background: linear-gradient(0deg, #fff, transparent 65%),
    #ffa949 url('../img/volcanes.jpg') no-repeat center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 1.5em; /* 24px/16px */
}

.main-content {
  padding-top: 25px;
  padding-bottom: 10em;
}

.background-light {
  background-color: #F5F5F5; /* #f8f8f8;*/
  padding: 20px;
  color:#383A3F;
}

.container {
  padding: 1.5em 1em;
  font-size: 1.25rem;
}

.intro {
 font-size: 1.625rem;
}

.container .title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #444;
  padding-bottom: 20px;

}

.prayer-background{
  background: 
     /* linear-gradient(0deg, rgba(12,13,13,0.4), rgba(12,13,13,0.4) ), */ 
      linear-gradient(0deg, rgba(255,255,255,0.4), transparent ), 
     url('../img/bricks-lights.jpg') no-repeat center;
  background-size: cover;
  height: 350px;
}

p.prayer,
p.prayer-by {
   color: #030303;
   
}

p.prayer{
  font-weight: 400;
  font-size: 1.5rem;
}

.quote p {
  font-size: 1.625rem;
  font-style: italic;
  margin: 0;
}

.author{
  margin-top: 20px;
}

.author img{
  width: 65px;
  border-radius: 100%;
  margin: 0;
  padding: 10px;
  vertical-align: middle;
}

.author p {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0px;
  margin: 0;
  display: inline-block;
}

.author p.more-info  {
  font-weight: normal;
  font-size: 1rem;
  color: #383A3F;
  padding: 3px;
  margin: 0;
}

.clearfix:after{
  content:"";
  display: table;
  clear:both;
}

.main-footer {
  background-color: #F5F5F5;
  border-top: 1px solid #D2D2D2;
  color: #9DA2A6;
  padding-top: 20px;
  padding-bottom: 20px;  
  height: 70px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}

.link-social{
  margin-right: 5px;
}

/* ======================================= 
   Media Queries  
==========================================*/

@media (min-width: 769px) {
  .main-content {
    min-height: 100vh;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .col {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .primary {
    width: 60%;
  }

  .secondary {
    width: 40%;
  }
}

@media (min-width: 1025px){
  .container {
    width: 80%;
    max-width: 1150px;
  }
}




